:root {
  --dCyan: hsl(185, 75%, 39%);
  --vdBlue: hsl(229, 23%, 23%);
  --dGreyishBlue: hsl(227, 10%, 46%);

  --dGray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*****************
***Body section***
******************/

body {
  min-height: 100vh;
  background: url("./images/bg-pattern-top.svg") left bottom 250px no-repeat,
    url("./images/bg-pattern-bottom.svg") right top 350px no-repeat,
    var(--dCyan);
  background-size: 50%, 50%;
  display: grid;
  place-items: center;
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
}

main {
  min-height: 100vh;
  width: 375px;
  padding: 3rem 1.5rem;
  display: grid;
  place-items: center;
}

/*******************
***Flex container***
********************/

.container {
  max-width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

/****************
***Img section***
*****************/

#heroBG {
  height: 135px;
  background: url(./images/bg-pattern-card.svg);
  max-width: 100%;
  overflow: hidden;
}

#imgDiv {
  width: 327px;
  height: 240px;
  background: url("./images/image-header-mobile.jpg");
  background-size: contain;
  opacity: 0.45;
}

/*****************
***Text section***
******************/

.textSection {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}
